<div class="plate container">
    <div class="row">
        <div class="col">
            <a href="{{ path('shortener_code_stats', {'code':  shortener.code}) }}">{{ shortener.code }}</a>:
            <a href="{{ shortener.url }}">{{ shortener.url }}</a>  - Переходів: {{ shortener.count }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {% block additonal %} {% endblock %}
        </div>
    </div>
</div>